{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
About Rango
{% endblock %}

{% block body_block %}
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 400px;
        margin-bottom: 10px;
    }
</style>
<h1>Rango says...</h1>
<div>
    here is the about page! <br />
    <strong>This tutorial has been put together by Sophia.</strong><br />
</div>
<div>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of the Love of My Life " /> <!-- New line -->
    <img src="{{ MEDIA_URL }}images/cat.jpg" alt="Picture of a Cat" /> <!-- Corrected line -->

</div>
{% endblock %}