<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html>

<head>
    <title>Rango</title>
    <style>
        html * {
            font-family: "Courier New", monospace;
            color: white;
            background-color: thistle;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <h1>Rango says...</h1>
    <div>
        here is the about page! <br />
        <strong>This tutorial has been put together by Sophia.</strong><br />
    </div>
    <div>
        <a href="/rango/">Index</a><br />
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of the Love of My Life " /> <!-- New line -->
        <img src="{{ MEDIA_URL }}images/cat.jpg" alt="Picture of a Cat" /> <!-- Corrected line -->

    </div>
</body>

</html>